<!--dwiter/templates/dwiter/convite_amigo.html-->

{% extends 'base.html' %}

{% block content %}
<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>

<div class="column is-one-third"></div>
<div class="column is-one-third">
    <div class="box">
        <div class="block">
            <h1 class="title is-5 has-text-centered">
                {{request.user.username|capfirst}}, convide um(a) amigo(a) para participar da nossa rede
            </h1>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <button class="button is-success mt-5 has-text-centered"
                                type="submit">Enviar
            </button>
        </form>
        </div>
    </div>
</div>
<div class="column is-one-third"></div>
<!--<a href="{% url 'dwitter:login' %}">Login</a>-->
{% endblock %}

