<!-- dwitter/templates/dwitter/trata_convite.html -->

{% extends 'base.html' %}

{% block content %}

<div class="column">

    <div class="block">
    <h1 class="title is-1">
        Convite de {{profile.user.username|upper}}
    </h1>
    </div>
    <form method="post">
    {% csrf_token %}
        <div class="buttons has-addons">
               <button class="button is-success" name="convite" value="aceitar">Aceitar</button>
                <button class="button is-danger" name="convite" value="ignorar">Ignorar</button>
        </div>
    </form>
    <div class="content">
    {% for dweet in profile.user.dweets.all %}
        <div class="box">
            {{ dweet.body }}
            <span class="is-small has-text-grey-light">
                ({{ dweet.created_at }})
            </span>
        </div>
    {% endfor %}
    </div>
</div>

<div class="column is-one-third">

    <div class="block">
        <a href="{% url 'dwitter:profile_list' %}">
            <button class="button is-primary is-rounded is-medium is-outlined is-fullwidth">
                Todos perfis
            </button>
        </a>
    </div>

    <div class="block">
        <h3 class="title is-4">
            <strong>{{profile.user.username}}</strong> está seguindo ({{profile.follows.count}}):
        </h3>
        <div class="content">
            <ul>
            {% for following in profile.follows.all %}
                <li>
                    <a href="{% url 'dwitter:profile' following.id %}">
                        {{ following }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="block">
        <h3 class="title is-4">
            {{profile.user.username}} é seguido por ({{profile.followed_by.count}}):
        </h3>
        <div class="content">
            <ul>
            {% for follower in profile.followed_by.all %}
                <li>
                    <a href="{% url 'dwitter:profile' follower.id %}">
                        {{ follower }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <!--<div class="block">
        {% if existeconvite %}
            <h3 class="title is-4">
                Convites pendentes:
            </h3>
            <div class="content">
                <ul>
                {% for convite in convites %}
                    <li>
                        <a href="{% url 'dwitter:profile' convite.solicitante_id %}">
                            {{ convite.solicitante }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>-->
</div>

{% endblock content %}