<!--dwiter/templates/dwiter/password_change_done.html-->
{% extends "base.html" %}


{% block content %}

<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>

<div class="column is-one-third"></div>
<div class="column is-one-third">
    <div class="box">
        <div class="block">
            <h1 class="title is-3 has-text-centered">
                Alteração de Senha
            </h1>
        <div class="block">
            <p class="is-size-5 has-text-left"> Senha alterada com sucesso
            </p>
            <a href="{% url 'dwitter:logout' %} ">
                <button class="button is-success mt-5 is-centered">
                    Sair
                </button>
            </a>
            <a href="{% url 'dwitter:dashboard' %} ">
                <button class="button is-success mt-5 is-centered">
                    Voltar
                </button>
            </a>
        </div>
        </div>
    </div>
</div>
<div class="column is-one-third"></div>

{% endblock %}